[Unit]
Description = Home measurement collector service
After = syslog.target

[Service]
WorkingDirectory=/home/iot/bin/collector_dev
Type = simple
User = iot
ExecStart = /usr/bin/java -Dspring.profiles.active=dev -Dpring.mail.username="" -Djasypt.encryptor.password=mattys_dev_password -jar collector.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy = multi-user.target
