[Unit]
Description = Home measurement collector service
After = syslog.target

[Service]
WorkingDirectory=/home/iot/bin/collector_test
Type = simple
User = iot
ExecStart = /usr/bin/java -jar -Dspring.profiles.active=test collector.jar
Restart=on-failure
RestartSec=10

[Install]
WantedBy = multi-user.target
