<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <title>Title</title>
</head>
<body style="margin: 0; padding: 20px 0 30px 0;">
<table style="width:600px; text-align:center; padding:0; border-spacing: 0; border-collapse: collapse; border: 1px solid #cccccc;">
    <tr style="padding: 10px 10px 8px 5px;">
        <td style="text-align:center; background-color: #70bbd9; padding: 40px 0 30px 0; color: #153643; font-family: Arial, sans-serif; font-size: 24px;">
<!--<img alt="CdB Logo image" src="cid:cdbLogo" height="103" width="81" style="padding: 0 0 10px 0;"/> <br>-->
<!--<img alt="CdB Logo image" src="@{/images/CdBLogo.webp}" height="103" width="81" style="padding: 0 0 10px 0;"/> <br>-->
            <b>Chauffage PPE Chavannes-des-Bois</b>
            <b>Chauffage Central Communal Temperature Alert!!</b>
        </td>
    </tr>

    <tr style="padding: 10px 10px 8px 5px;color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
        <td style="background-color: #ee4c50; text-align:left; padding: 40px 30px 40px 30px;">
            <p><h3 style="text-align: center">!!GENERAL ALERT!!</h3></p>
        </td>
    </tr>

    <tr  style="color: #153643; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px;">
        <td style="background-color: #ffffff; padding: 40px 30px 40px 30px;">
            <table style="color: #37474F; font-family: Arial, sans-serif; font-size: 16px; line-height: 20px; padding: 10px 10px 10px 10px;">
                <tr>
                    <td colspan="2">
                        <p><span th:text="${message}">GENERAL ALERT MESSAGE</span></p>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
</body>
</html>