<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Measurement Dashboard Alerts</title>
</head>
<body>
    <div class="container" layout:fragment="content">
        <div class="container-fluid">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h1>Measurement Alerts</h1>

                <div class="shadow table-responsive" th:if="${not #lists.isEmpty(measurementalerts)}">
                    <table class="table table-hover ">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Time</th>
                            <th>value</th>
                            <th>Low Threshold</th>
                            <th>High Threshold</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="sensor : ${measurementalerts}">
                            <!--                            <tr th:each="measurement, iStat : ${sensor.value}"-->
                            <!--                                th:class="${measurement.value > measurement.low_threshold}? 'table-light' : 'table-danger'">-->


                            <tr th:each="measurement, iStat : ${sensor.value}"
                                th:Style="${measurement.value > measurement.low_threshold} ?
                                                        (${measurement.value > measurement.high_threshold} ? 'background-color: rgba(231, 76, 60,1.0)' ) :
                                                         'background-color: rgba(41, 128, 185,1.0)'">
                                <td th:text="${iStat.index + 1}">index missing</td>
                                <td th:text="${measurement.title}">title missing</td>
                                <td th:text="${#temporals.format(measurement.measureTimeUTC, 'yyyy-MM-dd HH:mm:ss')}">time missing</td>
                                <td th:text="${measurement.value + ' ' + measurement.measurementUnit.toString()}">value missing</td>
                                <td th:text="${measurement.low_threshold}">value missing</td>
                                <td th:text="${measurement.high_threshold}">value missing</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </main>
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h1>System Alerts</h1>

                <div class="shadow table-responsive" th:if="${not #lists.isEmpty(systemalerts)}">
                    <table class="table table-hover ">
                        <thead class="thead-inverse">
                        <tr>
                            <th>#</th>
                            <th>Name</th>
                            <th>Message</th>
                        </tr>
                        </thead>
                        <tbody>
                            <tr th:each="systemalert, iStat : ${systemalerts}">
        <!--                    <tr th:each="sensoralert, iStat : ${alert}"-->
        <!--                        th:Style="${measurement.value > measurement.low_threshold} ?-->
        <!--                                                (${measurement.value > measurement.high_threshold} ? 'background-color: rgba(231, 76, 60,1.0)' ) :-->
        <!--                                                 'background-color: rgba(41, 128, 185,1.0)'">-->



                                <!--                            <tr th:each="measurement, iStat : ${sensor.value}"-->
                                <!--                                th:class="${sensor.getValue()} < ${sensor.get ? 'background-color: rgba(41, 128, 185,1.0)' : 'background-color: rgba(231, 76, 60,1.0)'">-->
                                <td th:text="${iStat.index + 1}">index missing</td>
                                <td th:text="${#temporals.format(systemalert.alertTimeUTC, 'yyyy-MM-dd HH:mm:ss')}">time missing</td>
                                <td th:text="${systemalert.message}">title missing</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    </body>
</html>