<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css" />
    <script src="/webjars/jquery/jquery.min.js"></script>
    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
</head>
<body>
<!--/*@thymesVar id="sensor" type="java.util.Map.Entry"*/-->

<!--/*@thymesVar id="sensorrecord" type="eu.seatter.homemeasurement.collector.model.SensorRecord"*/-->
<div class="container-fluid" style="margin-top: 20px">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
            <div class="panel panel-primary">

                <div class="panel-heading">
                    <h1 class="panel-title">Sensor Measurements</h1>
                </div>
                <div class="panel-body">
                    <div class="table-responsive" th:if="${not #lists.isEmpty(measurements)}">
                        <table class="table table-hover ">
                            <thead class="thead-inverse">
                            <tr>
                                <td>#</td>
                                <td>Name</td>
                                <td>SensorID</td>
                                <td>Time</td>
                                <td>value</td>
                            </tr>
                            </thead>
                            <tbody>
                                <th:block th:each="sensor : ${measurements}">
                                    <tr>
                                        <tr th:each="sensorrecord, iStat : ${sensor.value}" th:class="${sensorrecord.value > sensorrecord.low_threshold}? 'table-light' : 'table-danger'">
                                            <td th:text="${iStat.index + 1}">index missing</td>
                                            <td th:text="${sensorrecord.title}">title missing</td>
                                            <td th:text="${sensorrecord.sensorid}">sensorid missing</td>
                                            <td th:text="${#temporals.format(sensorrecord.measureTimeUTC, 'yyyy-MM-dd HH:mm:ss')}">time missing</td>
                                            <td th:text="${sensorrecord.value + ' ' + sensorrecord.measurementUnit.toString()}">value missing</td>
                                        </tr>
                                    </tr>
                                </th:block>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>