<!DOCTYPE HTML>
<html lang="en" xmlns:layout="http://www.w3.org/1999/xhtml" layout:decorate="~{fragments/main_layout}" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Home Measurement Dashboard Heating System</title>
</head>
<body>
<div class="container" layout:fragment="content">
    <!-- Page Content -->
    <div id="page-content-wrapper">
        <div class="container-fluid">
            <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4">
                <h1>Heating System</h1>
                <!--                    <select th:field="*{view_days}">-->
                <!--                        <option th:value="7" th:text="7 Days"></option>-->
                <!--                        <option th:value="30" th:text="30 Days"></option>-->
                <!--                    </select>-->
                <div class="panel-content text-center shadow" th:if="${not #lists.isEmpty(allMeasurements)}" style="margin-top: 20px">
                    <canvas id="measurementChart" class="chart"></canvas>
                </div>
                <p></p>
                <button type="button" class="btn btn-outline-primary btn-sm" onclick="TableShow()">Show Measurements</button>
                <p></p>
                <div id="measurementtable" style="display:none" class="shadow table-responsive" th:if="${not #lists.isEmpty(allMeasurements)}">
                    <table class="table table-hover ">
                        <thead class="thead-inverse">
                        <tr>
                            <th>Time</th>
                            <th>Name</th>
                            <th>value</th>
                            <th>Low Threshold</th>
                            <th>High Threshold</th>
                        </tr>
                        </thead>
                        <tbody>
                        <th:block th:each="sensor : ${allMeasurements}">
                            <!--                            <tr th:each="measurement, iStat : ${sensor.value}"-->
                            <!--                                th:class="${measurement.value > measurement.low_threshold}? 'table-light' : 'table-danger'">-->


                            <tr th:each="measurement, iStat : ${sensor.value}"
                                th:Style="${measurement.value > measurement.low_threshold} ?
                                                        (${measurement.value > measurement.high_threshold} ? 'background-color: rgba(231, 76, 60,1.0)' ) :
                                                         'background-color: rgba(41, 128, 185,1.0)'">



                                <!--                            <tr th:each="measurement, iStat : ${sensor.value}"-->
                                <!--                                th:class="${sensor.getValue()} < ${sensor.get ? 'background-color: rgba(41, 128, 185,1.0)' : 'background-color: rgba(231, 76, 60,1.0)'">-->
                                <td th:text="${#temporals.format(measurement.measureTimeUTC, 'yyyy-MM-dd HH:mm:ss')}">time missing</td>
                                <td th:text="${measurement.title}">title missing</td>
                                <td th:text="${measurement.value + ' ' + measurement.measurementUnit.toString()}">value missing</td>
                                <td d-none d-sm-table-cell th:text="${measurement.low_threshold}">value missing</td>
                                <td d-none d-sm-table-cell th:text="${measurement.high_threshold}">value missing</td>
                            </tr>
                        </th:block>
                        </tbody>
                    </table>
                </div>
            </main>
        </div>
    </div>
    <!-- /#page-content-wrapper -->
    <!-- /#wrapper -->

    <!--Charting    -->
    <script src="/webjars/momentjs/2.24.0/min/moment.min.js"></script>
    <script src="/webjars/chartjs/2.9.3/Chart.min.js"></script>
    <!--    <script th:inline="javascript">-->
    <script th:inline="javascript">
        let measurements = /*[[${allMeasurements}]]*/ 'default';
        // console.log(measurements);
        let ctx = document.getElementById('measurementChart').getContext('2d');
        let chart = new Chart(ctx, {
            type: 'line',
            options: {
                responsive: true,
                hoverMode: 'index',
                stacked: false,
                scales: {
                    yAxes: [{
                        type: 'linear', // only linear but allow scale type registration. This allows extensions to exist solely for log scale for instance
                        display: true,
                        position: 'left',
                        id: 'y-axis-1',
                        scaleLabel: {
                            display:     true,
                            labelString: 'Temp(C)'
                        },
                        gridLines: {
                            drawOnChartArea: false, // only want the grid lines for one axis to show up
                        },
                        ticks: {
                            reverse: false,
                            suggestedMin: 40,
                            suggestedMax: 60
                        }
                    }],
                    xAxes: [{
                        type:       "time",
                        time:       {
                            unit: 'minute',
                            round: 'minute',
                            tooltipFormat: 'll HH:mm',
                            distribution: 'linear',
                            displayFormats: {
                                'minute': 'DD/MMM/YYYY HH:mm'
                            }
                        },
                        scaleLabel: {
                            display:     true,
                            labelString: 'Temps de mesure'
                        },
                        ticks: {
                            reverse: false,
                            beginAtZero: true,
                            source: "data"
                        }
                    }]
                }
            }
        });

        // https://flatuicolors.com/
        let dataSetColourScheme = [
            {backgroundColor: 'rgba(22, 160, 133,1.0)', borderColor: 'rgba(22, 160, 133,1.0)', fill: false},
            {backgroundColor: 'rgba(241, 196, 15,1.0)', borderColor: 'rgba(241, 196, 15,1.0)',fill: false},
            {backgroundColor: 'rgba(155, 89, 182,1.0)', borderColor: 'rgba(155, 89, 182,1.0)',fill: false},
            {backgroundColor: 'rgba(149, 165, 166,1.0)', borderColor: 'rgba(149, 165, 166,1.0)',fill: false},
            {backgroundColor: 'rgba(211, 84, 0,1.0)', borderColor: 'rgba(211, 84, 0,1.0)',fill: false},
            {backgroundColor: 'rgba(39, 60, 117,1.0)', borderColor: 'rgba(39, 60, 117,1.0)',fill: false}];

        let labelValues = Object.values(measurements)[0].map(sr => sr.measureTimeUTC);
        chart.data.labels = labelValues;
        let dataSetIndex = 0;
        Object.keys(measurements).forEach(function (sensorId) {
            let sensorData = measurements[sensorId];
            let measurementValues = sensorData.map(sr => sr.value);
            if (measurementValues) {
                let sensorTitle = sensorData[0].title;
                let sensorLowLimit = sensorData[0].low_threshold;
                let sensorHighLimit = sensorData[0].high_threshold;
                let dataSetColour = dataSetColourScheme[dataSetIndex].backgroundColor;
                let dataSet = {
                    label: sensorTitle,

                    pointBackgroundColor: function(context) {
                        var index = context.dataIndex;
                        var value = context.dataset.data[index];
                        return value < sensorLowLimit ? 'rgba(41, 128, 185,1.0)' :
                            value > sensorHighLimit ? 'rgba(231, 76, 60,1.0)' :
                                dataSetColour;
                    },
                    pointBorderColor : function(context) {
                        var index = context.dataIndex;
                        var value = context.dataset.data[index];
                        return value < sensorLowLimit ? 'rgba(41, 128, 185,1.0)' :
                            value > sensorHighLimit ? 'rgba(231, 76, 60,1.0)' :
                                dataSetColour;
                    },
                    backgroundColor: dataSetColourScheme[dataSetIndex].backgroundColor,
                    borderColor: dataSetColourScheme[dataSetIndex].borderColor,
                    fill: dataSetColourScheme[dataSetIndex].fill,
                    data: measurementValues
                };
                chart.data.datasets.push(dataSet);
            }
            dataSetIndex ++;
        });
        dataSetIndex = null;
        chart.update();

        chart.render();
    </script>
    <script>
        function TableShow() {
            var x = document.getElementById("measurementtable");
            if (x.style.display === "none") {
                x.style.display = "block";
            } else {
                x.style.display = "none";
            }
        }
    </script>
</div>
</body>
</html>